/* styles/about.css*/
.about-container{
    padding-top: 8rem;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.about-heading{
    font-size: 2.25rem;
    font-weight: inherit;
    margin:0;
}

.about-text{
    color:rgb(12, 11, 11);
    padding-top: 1rem;
    line-height: 1.5re;
    margin:0;
}

/*responsive style*/
@media (min-width: 786px){
    .about-heading {
font-size: 3rem;
    }

    .about-text{
        font-size:1.125rem;
    }
}

@media(max-width: 768px){
    .about-heading{
        font-size: 1.875rem;
    }

    .about-text{
        font-size: 1rem;

    }

    .about-container{
        padding: 6rem;
    }
}