/*styles/contact.css*/
.contact-container{
    padding-top: 8rem;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contact-grid{
    display: grid;
    gap: 2.5rem;
}

@media(min-width:800px){
    .contact-grid{
        grid-template-columns: repeat(8, 8fr);
    }
}

.contact-heading{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.contact-text{
    color: rgb(26, 26, 25);
    font-size: 1.125rem;
    padding-top:0.5rem;
    line-height: 1.5;
    margin: 0;
}

.contact.flex{
    display: flex;
    gap:0.75rem;
    align-items: center;
}

.contact-spaces{
    display: flex;
    flex-direction: column;
    gap:0.75rem;
}

.input-field, .textarea-field{
    background-color: transparent;
    border: 1px solid black;
    padding: 0. 5rem;
    border-radius: none;
    border-color: black;
}

.textarea-field{
    resize: vertical;
    height: auto;
    min-height: 150px;
}

/*button styling*/
.button{
    width: fit-content;
    background-color: rgb(238, 238, 246);
    color: rgb(15, 16, 16);
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 100%;
    font-weight:inherit;
    line-height: inherit;
    letter-spacing: inherit;
    border:none;
    cursor:pointer;
    border-radius: none;
    transition:background-color 0.3s ease;
}

.button:hover{
background-color: rgb(72, 169, 249);
}