/*styles/footer.css*/
.footer{
    margin-top: 4rem;
    padding: 1.5rem;
    text-align: center;
    background-color: white;
    color: blue;
    font-size: 1rem;
}

/*responsive styles*/
@media(max-width: 760px){
    .footer{
        padding: 1rem;
        font-size: 0.875rem;
    }
}

@media(min-width:768px){
    .footer{
        padding: 1.5rem;
        font-size: 1.125;
    }
}