/*styles/project.css*/
.projects-container{
    padding-top: 8rem;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    margin-right: 15px;
    margin-left: 15px;
}

.projects-grid{
    display: grid;
    gap: 2.5rem;
}

.projects-grid-xl{
    gap: 2.5rem;
}

.project-grid-md-2{
    grid-template-columns: repeat(2, 1fr);
}

.projects-grid-lg-3{
    grid-template-columns: repeat(3, 1fr);
}

.projects-center{
    place-items: center;
}

/*Responsive desing*/
@media(max-width:768px){
    .projects-grid{
        grid-template-columns: 1fr;/* its mean 1 coloumn on small screen*/
    }
}

@media(max-width:768px) and (max-width: 1024px){
    .projects-grid{
        grid-template-columns: repeat(2, 1fr);/* its mean 2 coloumn on medium screen*/
    }
}

@media(max-width:1024px){
    .projects-grid{
        grid-template-columns: repeat(3, 1fr);/* its mean 3 coloumn on large screen*/
    }
}