.skills:container {
padding-top: 8rem;
width: 100%;
margin-right: auto;
padding-right:15;
padding-left: 15px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

.skills-heading{
    
    font-weight: inherit;
    margin: 0;
    font-size: 3rem;
    line-height: 1;
}

.skills-text{
    color:rgb(9, 9, 9);
    padding-top:0.5rem;
margin:0;
}

.skills.icon-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.25rem;
}

.skills-space{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skills-space h2{
    color: rgb(18, 19, 18);
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

/*responsive style*/
@media (max-width: 1024px){
    .skills-grid{
        grid-template-columns: 1fr 1fr;

    }

    .skills-heading{
        font-size: 2.25rem;
    }

    .skills-icons-grid{
        font-size: 2rem;
    }
}

@media (max-width: 764px){
    .skills-grid{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .skills-heading{
        font-size:1.875rem;
    }

    .skills-icons-grid{
        font-size:1.75rem
    }

    .skills-left{
        text-align:center;
    }
}
